<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.edmarjunior.talktoyou" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TalkToYou</name>
    <description>Aplicativo de comunicacao alternativa e aumentativa que funciona localmente no aparelho.</description>
    <author email="" href="">Edmar Junior</author>

    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <preference name="AndroidXEnabled" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="android-minSdkVersion" value="23" />
    <preference name="android-targetSdkVersion" value="36" />

    <platform name="android">
        <preference name="AndroidLaunchMode" value="singleTop" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />

        <icon src="assets/icons/icon-512.png" />

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
        </config-file>
    </platform>

    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />
    <plugin name="cordova-plugin-file" spec="^8.1.3" />
</widget>